 <!-- signup php -->
<?php
require "config.php";
if(!empty($_SESSION["id"])){
header("Location: log.php");
}
if(isset($_POST["submitbtn"])){
  $username = $_POST["username"];
  $email = $_POST["email"];
  $password = $_POST["password"];
  $confirmpass = $_POST["confirmpass"];
  $duplicate = mysqli_query($conn, "SELECT * FROM signup WHERE username = '$username' OR email = '$email'");
  if(mysqli_num_rows($duplicate) > 0){
    echo
    "<script> alert('Username or Email Has Already Taken'); </script>";
  }
  else{
    if($password == $confirmpass){
      $query = "INSERT INTO signup VALUES('','$username','$email','$password','$confirmpass')";
      mysqli_query($conn, $query);
      echo
      "<script> alert('Welcome!'); </script>";
    }
    else{
      echo
      "<script> alert('Password is Incorrect'); </script>";
    }
  }
}
//  login php
if(!empty($_SESSION["id"])){
  header("Location: log.php");
}
if(isset($_POST["loginbtn"])){
  $username = $_POST["username"];
  $password = $_POST["password"];
  $result = mysqli_query($conn, "SELECT * FROM signup WHERE username = '$username'");
  $row = mysqli_fetch_assoc($result);
  if(mysqli_num_rows($result) > 0){
    if($password == $row['password']){
      $_SESSION["log"] = true;
      $_SESSION["id"] = $row["id"];
      header("Location: home.php");
    }
    else{
      echo
      "<script> alert('Wrong Password'); </script>";
    }
  }
  else{
    echo
    "<script> alert('Oops!you've to register yourself.'); </script>";
  }
}
?>
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>TherapYOUtic</title>
    <link rel="icon" type="images/x-icon" href="img/logo.png" />
          <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
      <link rel="stylesheet" href="log.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    
<!-- header section starts  -->

<header class="header">

   <a href="log.php" class="logo"> <i class="fas fa-heartbeat"></i> TherapYOUtic </a>
   
   <nav class="navbar">
       <a href="indexhome.php">home</a>
       <!-- <a href="">calendar</a>
       <a href="">Events</a>
       <a href="">Post</a> -->
       <a href="log.php">login</a>  
       
   </nav>

   <div id="menu-btn" class="fas fa-bars"></div>
 </header>
 
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login Form
            </div>
            <div class="title signup">
               Signup Form
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               <input type="radio" name="slide" id="login" checked>
               <input type="radio" name="slide" id="signup">
               <label for="login" class="slide login">Login</label>
               <label for="signup" class="slide signup">Signup</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="" class="login" method="post" autocomplete="off">
                  <div class="field">
                     <input type="text" name="username" placeholder="username" required>
                  </div>
                  <div class="field">
                     <input type="password" name="password" placeholder="password" required >
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login" name="loginbtn">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="">Signup now</a>
                  </div>
               </form>
               <form action="log.php" class="signup" method="post" autocomplete="off">
                  <div class="field">
                     <input type="text" name="username" placeholder="Username" required>
                  </div>

                  <div class="field">
                     <input type="text" name="email" placeholder="Email Address" required>
                  </div>
                  <div class="field">
                     <input type="password" name="password" placeholder="Password" required>
                  </div>
                  <div class="field">
                     <input type="password" name="confirmpass" placeholder="Confirm password" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" name="submitbtn" value="Signup">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="credit"> created by <span>Nupur & Sherin</span> </div>
      <script>
         const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    /*green color #16a085*/
    --green:#16a085;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    /* text-transform: capitalize; */
    transition: all .2s ease-out;
    text-decoration: none;
    resize: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background: #f5f5f5;
}

.heading{
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color:var(--black);
  font-size: 5rem;
  letter-spacing: .4rem;
}

.heading span{
  text-transform: uppercase;
  color:var(--green);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border:var(--border);
  border-radius: .5rem;
  /* box-shadow: var(--box-shadow); */
  color:var(--green);
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span{
  padding:.7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color:#fff;
  margin-left: .5rem;
}

.btn:hover{
  background: var(--green);
  color:#fff;
}

.btn:hover span{
  color: var(--green);
  background:#fff;
  margin-left: 1rem;
}

.header{
  padding:2rem 9%;
  position: fixed;
  top:0; left: 0; right: 0;
  z-index: 1000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .logo{
  font-size: 2.4rem;
  color: var(--black);
}

.header .logo i{
  color: var(--green);
}

.header .navbar a{
  font-size: 1.9rem;
  color: var(--light-color);
  margin-left: 1.6rem;
  margin-right: 1rem;
  text-transform: capitalize;
}

.header .navbar a:hover{
  color: var(--green);
}

#menu-btn{
  font-size: 2.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/
html,body{
  display:grid;
  height: 100%;
  width: 100%;
  place-items:center;
  background-color: #f4f8f9;
} 
::selection{
  background: #090909;
  color: rgb(254, 232, 232);
}
.wrapper{
  overflow: hidden;
  max-width: 400px;
  background:whitesmoke;
  padding: 40px;
  border-radius: 0px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  padding-top: 8rem;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #16a085, #0a8a71);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #16a085;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 60px;
  font-size: 15px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #16a085;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 10px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  top: 0px;;
  background: -webkit-linear-gradient(right, #16a085, #0a8a71, #16a085, #0a8a71);
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

 .credit{
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color:var(--light-color);
  border-top: .1rem solid rgba(0, 0, 0, .1);
}

.credit span{
  color:var(--green);
}


/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }

  .header{
      padding: 2rem;
  }

  section{
      padding:2rem;
  }

}

@media (max-width:768px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; right: 2rem;
      border-radius: .5rem;
      box-shadow: var(--box-shadow);
      width: 30rem;
      border: var(--border);
      background: #fff;
      transform: scale(0);
      opacity: 0;
      transform-origin: top right;
      transition: none;
  }

  .header .navbar.active{
      transform: scale(1);
      opacity: 1;
      transition: .2s ease-out;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      margin:2.5rem;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

}
  

         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
      </script>

      <script>
         let menu = document.querySelector('#menu-btn');
let navbar = document.querySelector('.navbar');

menu.onclick = () =>{
    menu.classList.toggle('fa-times');
    navbar.classList.toggle('active');
}

window.onscroll = () =>{
    menu.classList.remove('fa-times');
    navbar.classList.remove('active');
}
      </script>

   </body>
</html>

